/* Global App Font */
body {
  font-family: 
    "Inter",
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    "Roboto",
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  font-weight: 400;  /* Regular */
  line-height: 1.6;
  color: #111;
}
